*{
    padding:0;
    margin:0;
}
.navbar{
    border-bottom: solid 1px rgb(198, 192, 192);
z-index: 1;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0;
}   
.ymcenter{
    width: 80%;
    margin: auto;
}
.flex .second {
text-align: end;
}
.flex {
   align-items: center;
    display: flex;
}
.first{
    width: 10%;
}
.second{
    width: 90%;
   
display: flex;
justify-content: flex-end;
}
.second ul{
  list-style: none;
text-decoration: none;
    display: flex;
text-align: end;
    
}
.second ul li a{
    text-decoration: none;
margin-left: 40px;
font-size: 20px;
color: black;

}
.second ul li:hover {

    background-color: black;
}
.second ul li:hover a{
    color: aliceblue;
}
.conteiner2{
    padding-top: 150px;
    width: 100%;
}
.flex1{
    display: flex;
    justify-content: space-between;

}
.left{
width: 60%;
}
.right{
    width: 40%;
}
.Illustration{
    font-weight: 400;
font-size: 10px;
padding-bottom: 18px;
letter-spacing: 1px;

color: #999999;
}
.Japan{
    font-weight: 400;
font-size: 36px;
line-height: 42px;
padding-bottom: 27px;

text-transform: uppercase;

color: #000000;
}
.qui{
    padding-bottom: 28px;
    font-weight: 400;
font-size: 16px;
line-height: 24px;

color: #666666;
}
.Reta{
    font-weight: 900;
font-size: 10px;
line-height: 12px;
letter-spacing: 1px;
color: #000000;
}
*{
    padding: 0;
    margin: 0;
}
.kh-center{
    width: 80%;
}
.kh-container{
    display: flex;
    justify-content: center;
}
.kh-bottom h4{
    padding: 20px 0px;
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
letter-spacing: 1px;
text-transform: uppercase;
color: #999999;
}
.kh-bottom h1{
    font-family: 'Tenor Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #000000;
}
.kh-bottom p{
    padding: 20px 0px;
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
letter-spacing: 1px;
text-transform: uppercase;
color: #000000;
}
.kh-all{
    display: flex;
    justify-content: space-between;
}
.kh-image{
    margin-bottom: 80px;
}
.kh-all1{
    margin: 80px 0px;
}
.kh-butt button{
    transition: all 0.7s ease;
    cursor: pointer;
    border-radius: 6px;
    background: none;
    padding: 20px 40px;
    font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
letter-spacing: 1px;
text-transform: uppercase;
color: #000000;
}
.kh-butt button:hover{
    background-color: #e6e6e6;
    padding: 20px 70px;

}
.kh-butt{
    margin-bottom: 80px;
    display: flex;
    justify-content: center
}
.kh-all1 h5{
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;   
}

/* shahrom */

*{
    margin: 0;
    padding: 0;
}
.shahrom-conteiner{
    background: #141414;
    height: 100vh;
}

.center-shahrom{
    width: 80%;
    margin: auto;
}
.shleft-right{
    display: flex;
    color: #FFFFFF;
    align-items: center;
    padding-top: 100px;
}
.shleft{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;

}
.shahrom-flex{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin-right: 180px;
    margin-top: 50px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;  
    color: #666666;     
}
.shahrom{
    background: #4D4D4D;
    margin-top: 70px;
}
.shah-left-right{
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    margin-top: 50px;
}
.sendshahrom{
    background: #000000;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;

}
.shah-left p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;   
    color: #FFFFFF;
}
.sh{
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;
}
.shah-right1 input{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px 60px;
}
.shsh{
    font-size: 10px;
    line-height: 12px;  
    letter-spacing: 1px;
    text-transform: uppercase;  
    color: #666666;
}
.shah-left h2{
    font-weight: 400;
    color: #FFFFFF; 

}
.shah-right{
    font-weight: 400;
    color: #FFFFFF; 
}
.Animationsh{
    margin-top: 100px;
}

.sh-icons{
    display: flex;
    color: #FFFFFF;
    margin-top: 120px;
    justify-content: space-between;
    width: 50%;
}

.sh-icon ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    font-size: 25px;
    line-height: 60px;
    color: #FFFFFF;
    padding: 10px 0px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
   
}
.sh-ul{
    display: flex;
    
}
.sh-icon ul li{
    list-style: none;
}
.sh-icon ul li a:hover{
    background-color: #666666;
    border-bottom: 3px solid #CCCCCC;
}
.sh-icon h1{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #666666;

}

